{% extends 'base.html.twig' %}

{% block title %}Liste des Tribunes
{% endblock %}

{% block body %}
	<h1>Liste des Tribunes
		<a href="{{ path('app_tribune_new') }}" class="btn btn-primary">Créer nouveau</a>
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Sigle</th>
				<th>Places Numérotées</th>
				<th>Nombre de Sièges</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for tribune in tribunes %}
				<tr>
					<td>{{ tribune.id }}</td>
					<td>{{ tribune.name }}</td>
					<td>{{ tribune.sigle }}</td>
					<td>{{ tribune.numberedSeats ? 'Oui' : 'Non' }}</td>
					<td>{{ tribune.seatsCount }}</td>
					<!-- Mostrar a contagem de sièges -->
					<td>
						<a href="{{ path('app_tribune_show', {'id': tribune.id}) }}" class="btn btn-secondary">Voir</a>
						<a href="{{ path('app_tribune_edit', {'id': tribune.id}) }}" class="btn btn-primary">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_tribune_new') }}" class="btn btn-primary">Créer nouveau</a>
{% endblock %}
