{% extends 'base.html.twig' %}

{% block title %}Liste des Paiements des Billets
{% endblock %}

{% block body %}
	<h1>Liste des Paiements des Billets</h1>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Payment</th>
				<th>Ticket</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for payment_ticket in payment_tickets %}
				<tr>
					<td>{{ payment_ticket.id }}</td>
					<td>{{ payment_ticket.payment.id }}
						-
						{{ payment_ticket.payment.amount }}</td>
					<td>{{ payment_ticket.ticket.id }}
						-
						{{ payment_ticket.ticket.price }}</td>
					<td>
						<a href="{{ path('app_payment_ticket_show', {'id': payment_ticket.id}) }}">voir</a>
						<a href="{{ path('app_payment_ticket_edit', {'id': payment_ticket.id}) }}">modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_payment_ticket_new') }}">Créer nouveau</a>
{% endblock %}
