{% extends 'base.html.twig' %}

{% block title %}Liste des Sièges
{% endblock %}

{% block body %}
	<h1>Liste des Sièges</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Numéro de Siège</th>
				<th>Rangée</th>
				<th>Secteur</th>
				<th>Tribune</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for seat in seats %}
				<tr>
					<td>{{ seat.id }}</td>
					<td>{{ seat.seatNumber }}</td>
					<td>{{ seat.row.sigle }}</td>
					<td>{{ seat.row.sector.name }}</td>
					<td>{{ seat.row.sector.tribune.name }}</td>
					<td>
						<a href="{{ path('app_seat_show', {'id': seat.id}) }}" class="btn btn-secondary">Voir</a>
						<a href="{{ path('app_seat_edit', {'id': seat.id}) }}" class="btn btn-primary">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_seat_new') }}" class="btn btn-primary">Créer nouveau</a>
{% endblock %}
