{% extends 'base.html.twig' %}

{% block title %}Détails du Siège
{% endblock %}

{% block body %}
	<h1>Détails du Siège</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ seat.id }}</td>
			</tr>
			<tr>
				<th>Numéro de Siège</th>
				<td>{{ seat.seatNumber }}</td>
			</tr>
			<tr>
				<th>Rangée</th>
				<td>{{ seat.row.sigle }}</td>
			</tr>
			<tr>
				<th>Secteur</th>
				<td>{{ seat.row.sector.name|default('N/A') }}</td>
			</tr>
			<tr>
				<th>Tribune</th>
				<td>{{ seat.row.sector.tribune.name|default('N/A') }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_seat_index') }}" class="btn btn-primary">Retour à la liste</a>

	<a href="{{ path('app_seat_edit', {'id': seat.id}) }}" class="btn btn-primary">Modifier</a>

	{{ include('seat/_delete_form.html.twig') }}
{% endblock %}
