{% extends 'base.html.twig' %}

{% block title %}Liste des Rangées
{% endblock %}

{% block body %}
	<h1>Liste des Rangées</h1>
	<a href="{{ path('app_special_row_new') }}" class="btn btn-primary mb-3">Créer nouvelle rangée</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Sigle</th>
				<th>Capacité</th>
				<th>Secteur</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row.id }}</td>
					<td>{{ row.sigle }}</td>
					<td>{{ row.capacity }}</td>
					<td>{{ row.sector.name }}</td>
					<td>
						<a href="{{ path('app_row_show', {'id': row.id}) }}" class="btn btn-secondary btn-sm">Voir</a>
						<a href="{{ path('app_row_edit', {'id': row.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
