{% extends 'base.html.twig' %}

{% block title %}Liste des Rangées
{% endblock %}

{% block body %}
	<h1>Liste des Rangées
		<a href="{{ path('app_row_new') }}" class="btn btn-primary">Créer nouveau</a>
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Sigle</th>
				<th>Capacité</th>
				<th>Sièges</th>
				<th>Secteur</th>
				<th>Tribune</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row.id }}</td>
					<td>{{ row.sigle }}</td>
					<td>{{ row.capacity }}</td>
					<td>{{ row.seats.count }}/{{ row.capacity }}</td>
					<td>{{ row.sector.name }}</td>
					<td>{{ row.sector.tribune.name }}</td>
					<td>
						<a href="{{ path('app_row_show', {'id': row.id}) }}" class="btn btn-secondary">Voir</a>
						<a href="{{ path('app_row_edit', {'id': row.id}) }}" class="btn btn-primary">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_row_new') }}" class="btn btn-primary">Créer nouveau</a>
{% endblock %}
