{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block body %}
	<h1>Paiement</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ payment.id }}</td>
			</tr>
			<tr>
				<th>Montant</th>
				<td>{{ payment.amount }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ payment.status ? 'Complet' : 'Échoué' }}</td>
			</tr>
			<tr>
				<th>Date de Création</th>
				<td>{{ payment.createdAt ? payment.createdAt|date('d-m-Y H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date de Mise à Jour</th>
				<td>{{ payment.updatedAt ? payment.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_payment_index') }}" class="btn btn-primary">Retour à la liste</a>

	<a href="{{ path('app_payment_edit', {'id': payment.id}) }}" class="btn btn-primary">Modifier</a>

	{{ include('payment/_delete_form.html.twig') }}
{% endblock %}
