{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des Utilisateurs
		<a href="{{ path('app_user_new') }}" class="btn btn-primary">Créer nouveau</a>
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Rôles</th>
				<th>Mot de Passe</th>
				<th>Nom d'utilisateur</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Date de Création</th>
				<th>Date de Mise à Jour</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('d-m-Y H:i:s') : '' }}</td>
					<td>{{ user.updatedAt ? user.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-secondary">Voir</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_user_new') }}" class="btn btn-primary">Créer nouveau</a>
{% endblock %}
